<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Fragment>

	<?include Metrcontrol.wxi ?>

	<?define MainDllList=Accounts.dll;CommonControls.dll;ConnectedDBComponents.dll;csm.dll;csm4.dll;csmusers.dll;csmutil.dll;CurrentCsmSelector.dll;interop.dll;References.dll;sqlc.dll ?>
	<?define MainReportsList01=ActF.rpt;add_work.rpt;add_work_jur.rpt;analitic_journal.rpt ?>
	<?define MainReportsList02=$(var.MainReportsList01);AUTHORIZED.rpt;BadMarksReport.rpt;CentralDevList.rpt;codiff.rpt;contract_bills.rpt ?>
	<?define MainReportsList03=$(var.MainReportsList02);contract_list.rpt;contract_orders.rpt;contract_specified_time.rpt;contract_subject.rpt ?>
	<?define MainReportsList04=$(var.MainReportsList03);crebit.rpt;csm.rpt;CSM_ACCOMPLISHED_ORDER_POS.RPT;CSM_BILLS_ISSUED.rpt;CSM_Common_Mark_Move.rpt ?>
	<?define MainReportsList05=$(var.MainReportsList04);CSM_DEBTS.rpt;CSM_DEPARTMENTS_EMPLOYEES_RESULTS.RPT;CSM_Detail_Mark_Move.rpt;CSM_DEVICE_STATE.rpt ?>
	<?define MainReportsList06=$(var.MainReportsList05);CSM_DEVICE_STATE_ISSUE.rpt;CSM_DEV_LIST_AVAIL.rpt;CSM_Dpt_Mark_Move.rpt;CSM_ENTERED_ORDER_HEAD.rpt ?>
	<?define MainReportsList07=$(var.MainReportsList06);CSM_INCOMES.rpt;csm_issued_billf.rpt;CSM_Logging.rpt;CSM_Mark_History.rpt;CSM_Mark_Rec_Rep.rpt ?>
	<?define MainReportsList08=$(var.MainReportsList07);CSM_PREVIOUS_MARK.rpt;CSM_Ret_Act.rpt;CSM_SALES_BOOK.rpt;CSM_SCHED_AVAIL.rpt;CSM_SCHED_RECEIPT.rpt ?>
	<?define MainReportsList09=$(var.MainReportsList08);CSM_Total_Mark_Rep.rpt;CSM_Total_Mark_Usage.rpt;cust.rpt;customer_type.rpt;cust_rep.rpt ?>
	<?define MainReportsList10=$(var.MainReportsList09);deliveryschedule.rpt;dep_cust.rpt;device_groups.rpt;device_groups_expanded.rpt;dogovor.rpt ?>
	<?define MainReportsList11=$(var.MainReportsList10);emp_plan.rpt;EXP.rpt;Express.rpt;ExpressAdd.rpt;FacturaF.rpt;Izveshenie.rpt;Izveshenie_A5.rpt ?>
	<?define MainReportsList12=$(var.MainReportsList11);Izveshenie_A5_form.rpt;Journal.rpt;list.rpt;LocalDevList.rpt;log.rpt;markreq.rpt;markreq_blank.rpt ?>
	<?define MainReportsList13=$(var.MainReportsList12);measure_type.rpt;MNG_ACT_FORM.RPT;MNG_ACT_VIEW.RPT;OKATO.rpt;Order.rpt;order_add.rpt ?>
	<?define MainReportsList14=$(var.MainReportsList13);payment_type.rpt;plan.rpt;purpose.rpt;ResultReport.rpt;Schedule.rpt;SchetF.rpt;SchetF1.rpt ?>
	<?define MainReportsList15=$(var.MainReportsList14);SPHERE.rpt;SP_WT.rpt;Svidetelstvo.rpt;Svidetelstvo_A5.rpt;Svidetelstvo_A5_ETALON.rpt ?>
	<?define MainReportsList16=$(var.MainReportsList15);Svidetelstvo_A5_form.rpt;units.rpt;urgency.rpt;usage.rpt;UsageReport_MeasureType.rpt ?>
	<?define MainReportsList=$(var.MainReportsList16);UsageReport_MeasureType_Percent.rpt;view_tariff_change.rpt;Work_Place.rpt;work_type.rpt ?>

	<Feature
		Id="csmmain"
		Level="1"
		Absent="allow"
		AllowAdvertise="yes"
		Display="3"
		InstallDefault="followParent"
		TypicalDefault="install"
		Title="Исполняемые файлы приложения"
		Description="Собственно исполняемые файлы приложения."
	>
		<ComponentGroupRef Id="ProductComponents" />
		<ComponentGroupRef Id="ProductHelp" />
	</Feature>
	<Feature
		Id="csmhelp"
		Level="1"
		Absent="allow"
		AllowAdvertise="yes"
		Display="11"
		InstallDefault="followParent"
		TypicalDefault="install"
		Title="Справочная система"
		Description="Файлы справочной системы приложения."
	>
		<ComponentGroupRef Id="ProductHelp" />
	</Feature>

	<ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
		<ComponentRef	Id="csmmain.exe" Primary="yes"/>
		<ComponentRef	Id="csmmain.registry"/>
		<ComponentRef	Id="common.registry"/>
		<?foreach Dll in $(var.MainDllList)?>
		<ComponentRef	Id="$(var.Dll)"/>
		<?endforeach?>
		<?foreach Report in $(var.MainReportsList)?>
		<ComponentRef	Id="$(var.Report)"/>
		<?endforeach?>
	</ComponentGroup>

	<ComponentGroup Id="CommonComponents">
		<ComponentRef	Id="common.registry"/>
		<ComponentRef	Id="common.settings"/>
	</ComponentGroup>
 
	<DirectoryRef Id="APPLICATIONFOLDER" FileSource=".\SourceDir">
		<Component
			Id="csmmain.exe"
			Guid="{A8840BA1-D58E-4DAC-A867-2131F2CFE7B6}"
			Location="either"
			Win64="$(var.Win64)"
		>
			<File
				Id="application"
				Name="csmmain.exe"
				KeyPath="yes"
				Vital="yes"
				BindPath="[APPLICATIONFOLDER]"
				Checksum="yes"
				DefaultLanguage="1049"
			>
				<Shortcut
					Id="csmmain.Shortcut"
					Directory="PRODUCTMENUFOLDER"
					Name="$(var.ProductShortName)"
					Description="$(var.ProductName)"
					WorkingDirectory="APPLICATIONFOLDER"
					Show="normal"
					Advertise="yes"
				>
					<Icon Id="csmmain.exe" SourceFile=".\Icons\Product.ico"/>
				</Shortcut>
				<Shortcut
					Id="csmmain.DesktopShortcut"
					Directory="PRODUCTDESKTOPFOLDER"
					Name="$(var.ProductShortName)"
					Description="$(var.ProductName)"
					WorkingDirectory="APPLICATIONFOLDER"
					Show="normal"
					Icon="csmmain.exe"
					Advertise="yes"
				/>
				<Shortcut
					Id="csmmain.StartupShortcut"
					Directory="PRODUCTSTARTUPFOLDER"
					Name="$(var.ProductShortName)"
					Description="$(var.ProductName)"
					WorkingDirectory="APPLICATIONFOLDER"
					Show="normal"
					Icon="csmmain.exe"
					Advertise="yes"
				/>
			</File>
			<RemoveFolder Id="csmmain.ProductMenuFolder" Directory="PRODUCTMENUFOLDER" On="uninstall"/>
			<RemoveFolder Id="csmmain.ProductVersionProgramMenuFolder" Directory="ProductVersionProgramMenuFolder" On="uninstall"/>
			<RemoveFolder Id="csmmain.ProductProgramMenuFolder" Directory="ProductProgramMenuFolder" On="uninstall"/>
			<RemoveFolder Id="csmmain.ManufacturerProgramMenuFolder" Directory="ManufacturerProgramMenuFolder" On="uninstall"/>
			<RemoveFolder Id="csmmain.ProductDesktopFolder" Directory="PRODUCTDESKTOPFOLDER" On="uninstall"/>
			<RemoveFolder Id="csmmain.ProductStartupFolder" Directory="PRODUCTSTARTUPFOLDER" On="uninstall"/>
			<File
				Name="csmmain.exe.config"
				Vital="no"
				CompanionFile="application"
			/>
			<!--Ключ ниже не требуется для работы. Ввёл, по сути, только для того, чтобы удалять его при деинсталляции-->
			<RegistryKey
				Root="HKLM"
				Key="$(var.ProductRegKey)"
			>
				<RegistryValue Name="CsmMainInstalled" Type="integer" Value="1" />
			</RegistryKey>
		</Component>

		<Component
			Id="csmmain.registry"
			Guid="{4AF01660-10B6-4BFA-A0FC-6BC10286D3F1}"
			Location="either"
				Win64="$(var.Win64)"
		>
			<!--http://msdn.microsoft.com/ru-RU/library/windows/desktop/ee872121(v=vs.85).aspx-->
			<RegistryKey
				Root="HKMU"
				Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths"
			>
				<?foreach AppFileName in csmmain.exe;metrcontrol.exe;metrocontrol.exe;метроконтроль.exe?>
				<RegistryKey Key="$(var.AppFileName)">
					<RegistryValue Type="string" Value="[#application]" />
				</RegistryKey>
				<?endforeach?>
			</RegistryKey>
			<RegistryKey
				Root="HKMU"
				Key="SOFTWARE\Classes\Applications"
			>
				<RegistryKey Key="csmmain.exe">
					<RegistryValue Type="string" Value="[#application]" />
					<RegistryValue Name="FriendlyAppName" Type="string" Value="$(var.ProductShortName)" />
					<RegistryValue Name="NoOpenWith" Type="integer" Value="0" />
					<RegistryKey Key="SupportedTypes">
						<RegistryValue Name=".$(var.ProductExt)" Type="string" Value="" />
					</RegistryKey>
				</RegistryKey>
			</RegistryKey>

			<RegistryKey
				Root="HKMU"
				Key="SOFTWARE\RegisteredApplications"
			>
				<RegistryValue Name="$(var.MainProgId)" Type="string" Value="$(var.ProductRegKey)\Main\Capabilities" />
			</RegistryKey>
			<RegistryKey
				Root="HKMU"
				Key="$(var.ProductRegKey)\Main\Capabilities"
			>
				<RegistryValue Name="ApplicationName" Type="string" Value="$(var.ProductShortName)" KeyPath="yes" />
				<RegistryValue Name="ApplicationDescription" Type="string" Value="$(var.ProductDescription)" />
				<RegistryValue Name="Hidden" Type="integer" Value="0" />
				<RegistryKey Key="FileAssociations">
					<RegistryValue Name=".$(var.ProductExt)" Type="string" Value="$(var.MainProgId)" />
				</RegistryKey>
				<RegistryKey Key="MIMEAssociations">
					<RegistryValue Name="$(var.ProductContentType)" Type="string" Value="$(var.MainProgId)" />
				</RegistryKey>
			</RegistryKey>
		</Component>

		<Component
			Id="common.registry"
			Guid="{F4B04020-6528-4729-99CC-FAB8F6FBDFF2}"
			Location="either"
			Win64="$(var.Win64)"
		>
			<!--Ключ ниже не требуется для работы. Ввёл, по сути, только для того, чтобы удалять его при деинсталляции-->
			<RegistryKey
				Root="HKLM"
				Key="$(var.ProductRegKey)"
				ForceCreateOnInstall="yes"
				ForceDeleteOnUninstall="yes"
			>
				<RegistryValue Name="InstDir" Type="string" Value="[APPLICATIONFOLDER]" />
				<RegistryValue Name="CurrentVersion" Type="string" Value="$(var.ProductVersion)" />
				<RegistryValue Name="StartMenu" Type="string" Value="[PRODUCTMENUFOLDER]" />
			</RegistryKey>
		</Component>

		<?foreach Dll in $(var.MainDllList)?>
		<Component
			Id="$(var.Dll)"
			Location="either"
			Win64="$(var.Win64)"
			>
			<File
				Name="$(var.Dll)"
				KeyPath="yes"
				Vital="yes"
				Checksum="yes"
				/>
		</Component>
		<?endforeach?>
	</DirectoryRef>

	<DirectoryRef Id="Reports" FileSource=".\SourceDir\Reports">
		<?foreach Report in $(var.MainReportsList)?>
		<Component
			Id="$(var.Report)"
			Location="either"
		>
			<File
				Name="$(var.Report)"
				KeyPath="yes"
				Vital="no"
				Checksum="$(var.ReportsChecksum)"
			/>
		</Component>
		<?endforeach?>
	</DirectoryRef>

	<ComponentGroup Id="ProductHelp">
		<ComponentRef	Id="csmhelp.chm"/>
	</ComponentGroup>

	<DirectoryRef Id="Help" FileSource=".\SourceDir">
		<Component
			Id="csmhelp.chm"
			Location="either"
		>
			<File
				Id="help"
				Name="csmhelp.chm"
				KeyPath="yes"
				Vital="no"
			>
				<Shortcut
					Id="csmhelp_Shortcut"
					Directory="PRODUCTMENUFOLDER"
					Name="Справка приложения $(var.ProductName)"
					Description="Файлы справочной системы приложения $(var.ProductName)."
					WorkingDirectory="Help"
					Show="maximized"
					Advertise="yes"
				>
					<Icon Id="help.ico" SourceFile=".\Icons\help.ico"/>
				</Shortcut>
			</File>
			<RemoveFolder Id="csmhelp.ProductMenuFolder" Directory="PRODUCTMENUFOLDER" On="uninstall"/>
			<RemoveFolder Id="csmhelp.ProductVersionProgramMenuFolder" Directory="ProductVersionProgramMenuFolder" On="uninstall"/>
			<RemoveFolder Id="csmhelp.ProductProgramMenuFolder" Directory="ProductProgramMenuFolder" On="uninstall"/>
			<RemoveFolder Id="csmhelp.ManufacturerProgramMenuFolder" Directory="ManufacturerProgramMenuFolder" On="uninstall"/>
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="ProductLocalAppDataFolder" FileSource=".\SourceDir">
		<Component
			Id="common.settings"
			Guid="{1E95A8D4-1C73-47AF-8F74-CED44DB1EFCB}"
			Location="local"
		>
			<!--Компонент ради удаления каталога с файлами конфигурации подключения к БД из профиля пользователя.
			Однако, при установке на машину это решение не подходит, что и ожидаемо.-->
			<RegistryKey
				Root="HKCU"
				Key="$(var.ProductRegKey)"
			>
				<RegistryValue Name="Version" Type="string" Value="$(var.ProductVersion)" KeyPath="yes" />
			</RegistryKey>
			<CreateFolder Directory="PRODUCTLOCALAPPDATAFOLDER"/>
			<RemoveFolder Id="common.settings.PRODUCTLOCALAPPDATAFOLDER" Directory="PRODUCTLOCALAPPDATAFOLDER" On="uninstall"/>
			<RemoveFolder Id="common.settings.ProductVersionLocalAppDataFolder" Directory="ProductVersionLocalAppDataFolder" On="uninstall"/>
			<RemoveFolder Id="common.settings.ProductLocalAppDataFolder" Directory="ProductLocalAppDataFolder" On="uninstall"/>
			<RemoveFolder Id="common.settings.ManufacturerLocalAppDataFolder" Directory="ManufacturerLocalAppDataFolder" On="uninstall"/>
		</Component>
	</DirectoryRef>

	</Fragment>
</Wix>